$('#logging-context-modal').remove();

const container = $('<div id="logging-context" />');
-# console.info('gogogogo', window.React)
-# window.React || container.append('<script src="https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js"></script>') && container.append('<script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"></script>');
-# escape_javascript(render :template => "#{target}", :formats => [:html], :handlers => [:erb])
-# container.append('')
container.append('<div id="logging-context-modal" />');
-# container.append('<script src="https://cdn.jsdelivr.net/npm/react-select@5.2.2/dist/react-select.cjs.min.js"></script>');
-# container.append('<script src="https://cdn.jsdelivr.net/npm/react-monaco-editor@0.47.0/lib/index.min.js"></script>');
container.append('<script src="/assets/logging.js"></script>');
$('body').append(container);
$('#logging-context-modal').modal();
