#logging-context
%link{ rel: :stylesheet, href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" }
%link{ rel: :stylesheet, href: "https://cdn.jsdelivr.net/npm/sweetalert2@11.6.7/dist/sweetalert2.min.css" }

- MiraclePlus::Logger::ScriptsManager.assets.each do |asset|
  - if asset.end_with?('js')
    %script{ src: "/assets/#{asset}" }
  - else
    %link{ rel: :stylesheet, href: "/assets/#{asset}" }
